<app-nav-bar></app-nav-bar>
<div class="movie-detail-container backgroundImageParticles">
  <div class="movie-detail" *ngIf="movie">
    <div class="movie-content">
      <video controls #videoPlayer>
        <source [src]="movie.movieFilePath" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <div class="actions">
        <button (click)="playMovie()">{{ isPlaying ? "Pause" : "Play" }}</button>
        <button (click)="downloadMovie()">Download</button>
        <button (click)="addBookmark()">Add Bookmark</button>
        <div *ngIf="role === 'admin'">
          <button (click)="updateMovie()">Update Movie</button>
        </div>
      </div>
    </div>
    <div class="movie-info">
      <h1>{{ movie.title }}</h1>
      <div class="description">
        <h2>Description</h2>
        <p>{{ movie.description }}</p>
      </div>
      <div class="details">
        <h2>Details</h2>
        <p><strong>Director:</strong> {{ movie.directors }}</p>
        <p><strong>Cast:</strong> {{ movie.actors }}</p>
        <p><strong>Genres:</strong> {{ movie.genres }}</p>
      </div>
    </div>
  </div>
</div>

