<app-nav-bar></app-nav-bar>
<div class="movie-detail-container backgroundImageParticles" [class.blur]="showConfirmDialog">
  <div class="movie-detail" *ngIf="movie">
    <div class="movie-content">
      <video controls #videoPlayer>
        <source [src]="movie.movieFilePath" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <div class="actions">
        <button (click)="playMovie()">{{ isPlaying ? "Pause" : "Play" }}</button>
        <button (click)="downloadMovie()">Download</button>
        <button (click)="addSubscription()">Subscribe</button>
        <button *ngIf="isAdmin" (click)="updateMovie()">Update</button>
        <button (click)="rateMovie()">Rate</button>
        <button *ngIf="isAdmin" (click)="$event.preventDefault();deleteMovie()">Delete</button>
        <div class="resolution-switcher">
          <br><br>
          <h1>Resolution</h1>
          <select [(ngModel)]="selectedResolution" (change)="switchResolution()">
            <option value="original">Original</option>
            <option value="360p">360p</option>
            <option value="480p">480p</option>
            <option value="720p">720p</option>
          </select>
        </div>
      </div>
    </div>
    <div class="movie-info">
      <h1>{{ movie.title }}</h1>
      <div class="description">
        <h2>Description</h2>
        <p>{{ movie.description }}</p>
      </div>
      <div class="details">
        <h2>Details</h2>
        <p><strong>Rating: </strong>   {{ movie.avg_rating | roundTwoDecimals }} / 10 <i class="cil-star"></i></p>
        <p><strong>Director: </strong>   {{ movie.directors | peopleFormat }}</p>
        <p><strong>Cast: </strong>   {{ movie.actors | peopleFormat}}</p>
        <p><strong>Genres: </strong>   {{ movie.genres | peopleFormat }}</p>
        <p><strong>Release Date: </strong>   {{ movie.releaseDate | dateFormat }}</p>
        <p><strong>Duration: </strong>   {{ movie.duration }}min</p>
      </div>
    </div>
  </div>
</div>
