$primary-color: #006d77;
$background-color: #141414;
$text-color: #ffffff;
$secondary-color: #b3b3b3;
$hover-darken: 10%;
$transition-time: 0.3s;

.movie-detail-container {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
}

.movie-detail {
  display: flex;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  padding: 5em;

  .movie-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    video {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    .actions {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1em;
      font-size: 1.2em;
      margin-top: 1em;

      button {
        padding: 15px 30px;
        width: 9em;
        border: 2px solid #2c2c2c;
        background-color: #1a1a1a;
        color: #ffffff;
        font-size: 1.2rem;
        cursor: pointer;
        border-radius: 10px;
        transition: all 0.4s ease;
        outline: none;
        position: relative;
        overflow: hidden;
        font-weight: bold;
      }

      button::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 70%
        );
        transform: scale(0);
        transition: transform 0.5s ease;
      }

      button:hover::after {
        transform: scale(4);
      }

      button:hover {
        border-color: #666666;
        background: #006d77;
      }
    }
  }
}

.movie-info {
  width: 45%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  background-color: rgba(20, 20, 20, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  h1 {
    text-align: center;
    font-family: bayon;
    letter-spacing: 1px;
    font-weight: regular;
    margin: 0;
    font-size: 3.5em;
    color: white;
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.5em;
    text-shadow:
    0 0 10px #83c5be,
    0 0 20px #006d77;
    z-index: 9999;
  }

  .description,
  .details {
    margin-bottom: 1.5em;
    font-size: 1.2em;
    width: 100%;

    h2 {
      font-size: 2.5em;

      color: $text-color;
      font-family: bayon;
      margin-bottom: 0.5em;
      border-bottom: 2px solid $primary-color;
      padding-bottom: 0.2em;
    }

    p {
      font-size: 1.5em;
      margin: 0.5em 0;
      color: $text-color;

      strong {
        color: $text-color;
      }
    }
  }
}

.movie-info {
  .description,
  .details {
    p {
      display: flex;
      align-items: center;

      strong {
        margin-right: 0.5em;  
      }

      i {
        margin-left: 0.5em;  
      }
    }
  }
}

.resolution-switcher {
  width: 40em;
  display: flex;
  flex-direction: row;
  justify-content: center;

  h1 {
    text-align: center;
    font-family: bayon;
    letter-spacing: 1px;
    font-weight: regular;
    margin: 0;
    font-size: 2em;
    color: white;
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.5em;
    text-shadow:
    0 0 10px #83c5be,
    0 0 20px #006d77;
    z-index: 9999;

  }
}

select {
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  background-color: #1a1a1a;
  border: 1px solid #444;
  border-radius: 4px;
  color: #ccc;
  font-size: 1.2em;
  appearance: none; 
}

select option {
  background-color: #1a1a1a;
  color: #ccc;
}

select:focus {
  outline: none;
  border-color: #666666;
}

.select-container {
  position: relative;
  display: flex;
  align-items: center;
}

.select-container::after {
  content: '\25BC'; 
  position: absolute;
  right: 1em;
  color: #ccc;
  pointer-events: none;
}

label {
  color: #ccc;
  display: block;
  margin-bottom: 1em;
}

input, select {
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  background-color: #1a1a1a;
  border: 1px solid #444;
  border-radius: 4px;
  color: #ccc;
}
