// Custom Theming for Angular Material
@use '@angular/material' as mat;
@use 'sass:map';
@include mat.core();

$tinyflix-palette: (
  50: #e0f7fa,
  100: #b2ebf2,
  200: #80deea,
  300: #4dd0e1,
  400: #26c6da,
  500: #00bcd4,
  600: #00acc1,
  700: #0097a7,
  800: #00838f,
  900: #006064,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);

$tinyflix-front-primary: mat.define-palette($tinyflix-palette, 800);
$tinyflix-front-accent: mat.define-palette(mat.$grey-palette, A200, A100, A400);
$tinyflix-front-warn: mat.define-palette(mat.$red-palette);

$tinyflix-front-theme: mat.define-dark-theme((
  color: (
    primary: $tinyflix-front-primary,
    accent: $tinyflix-front-accent,
    warn: $tinyflix-front-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

$tinyflix-front-theme-bigger-text: mat.define-dark-theme((
  color: (
    primary: $tinyflix-front-primary,
    accent: $tinyflix-front-accent,
    warn: $tinyflix-front-warn,
  ),
  typography: mat.define-typography-config(
    $body-2: mat.define-typography-level(20px, 20px, 400)
  ),
));

$dialog-background-color: #121212;
$background-color: #333;
$color: map.get($tinyflix-front-theme, "color");
$colorBackground: map.get($color, "background");
$colorBackground: map.set($colorBackground, "dialog", $dialog-background-color);
$colorBackground: map.set($colorBackground, "raised-button", $dialog-background-color);
$colorBackground: map.set($colorBackground, "background", $background-color);
$color: map.set($color, "background", $colorBackground);
$tinyflix-front-theme: map.set($tinyflix-front-theme, "color", $color);

@include mat.all-component-themes($tinyflix-front-theme);
@include mat.typography-hierarchy($tinyflix-front-theme);

mat-form-field {
  --mdc-outlined-text-field-outline-color: #f0edee;
  --mdc-outlined-text-field-label-text-color: #f0edee;
}

@include mat.radio-typography($tinyflix-front-theme-bigger-text);

