@import "ngx-toastr/toastr";
@import "../node_modules/@coreui/icons/css/free.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  background-color: #1e1e1e;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: "bayon";
  src: url("./assets/fonts/bayon.ttf") format("truetype");
}

@font-face {
  font-family: "rubik-regular";
  src: url("./assets/fonts/rubik/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "rubik-light";
  src: url("./assets/fonts/rubik/Rubik-Light.ttf") format("truetype");
}

@font-face {
  font-family: "rubik-bold";
  src: url("./assets/fonts/rubik/Rubik-SemiBold.ttf") format("truetype");
}

.backgroundImage {
  background-image: url("../src/assets/wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

.backgroundImageParticles {
  background-image: url("../src/assets/particles.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.backgroundImagePopcorn {
  position: relative;
  background: url("../src/assets/popcorn.jpg") top left no-repeat;
  background-size: cover;
  background-size: cover;
}

.backgroundImagePopcorn::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.683); 
  z-index: 1;
}

.backgroundImagePopcorn > * {
  position: relative;
  z-index: 2;
}

.toast-success {
  background-color: #007d77;
}

::-webkit-scrollbar {
    display: none;
}

.backdropBackground {
  backdrop-filter: blur(10px);
}


