.movie-card {
  width: 30em;
  display: flex;
  flex-direction: column;
  transition: transform .37s ease-in-out;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
  }

  img::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 109, 119, 1), rgba(0, 109, 119, 0));
    z-index: 1;
  }

  .card-title {
    padding-top: 1em;
    bottom: 8px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    font-family: rubik-bold;
    text-align: center;
    display: none;
    z-index: 2;
  }

  .card-description {
    color: white;
    font-family: rubik-light;
    display: none;
    padding: 0.3em;
    font-size: 0.8em;
    z-index: 2;
  }

  &:hover {
    transform: scale(1.3);
    z-index: 3000;
    background-color: rgba(0, 109, 119, 0.3);
    cursor: pointer;

    .card-title {
      display: flex;
    }
    
    .card-description {
      display: flex;
    }
  }
}

.movie-card img, .movie-card .card-title, .movie-card .card-description {
  position: relative;
  z-index: 2;
}

