.movie-card {
  width: 30em;
  border: 2px solid #1e1e1e;
  height: 25em;
  display: flex;
  flex-direction: column;
  transition: transform .37s ease-in-out;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;


  .wrapper {
    background-color: #1b1b1b;
    height: 100%;
    width: 100%;
  }

  .mini-info {
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding: 0em 2em;
    font-family: rubik-light;
    width: 100%; 

    span {
      color: white;
    }
    .release-year {
      order: 1; 
    }
    .mini-title {
      flex-grow: 1; 
      text-align: center; 
      order: 2; 
    }
    .duration {
      order: 3; 
      margin-left: auto; 
    }
  }

  img {
    width: 100%;
    height: 19rem;
    display: block;
    position: relative;
    border-radius: 12px;
    transition: opacity .37s ease-in-out;
  }

  img::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .card-title {
    padding-top: 1em;
    text-align: center;
    bottom: 8px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    font-family: rubik-bold;
    z-index: 2;
  }

  .card-description {
    color: white;
    font-family: rubik-light;
    display: none;
    padding: 0.3em;
    font-size: 0.8em;
    z-index: 2;
    top: 35%;
    left: 50%;
    text-align: center;
    background: rgba(0, 0, 0, 0.75);
    margin: 0 1em;
    border-radius: 0 0 12px 12px;
  }

  .play-icon {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    font-size: 3em;
    color: white;
    opacity: 0;
    transition: opacity .37s ease-in-out;
  }

  &:hover {
    border-radius: 12px;
    border: 2px solid #edf6f9;
    background: linear-gradient(to top, rgba(0, 109, 119, 1), rgba(0, 109, 119, 0));
    img {
      opacity: 0.3;
    }
    .card-description {
      display: block;
    }
    .play-icon {
      opacity: 1;
    }
  }
}

.movie-card img, .movie-card .card-title, .movie-card .card-description {
  position: relative;
  z-index: 2;
}

