<div class="h-screen backgroundImage">
  <app-header></app-header>
  <div class="login-container">
    <div class="login-card">
      <h2 class="heading">Sign Up</h2>

      <form (ngSubmit)="signUp()">
        <div class="form-field">
          <input
            type="text"
            class="input"
            name="firstName"
            [(ngModel)]="user.firstName"
            placeholder="First Name"
            required
          />
        </div>

        <div class="form-field">
          <input
            type="text"
            class="input"
            name="lastName"
            [(ngModel)]="user.lastName"
            placeholder="Last Name"
            required
          />
        </div>

        <div class="form-field">
          <input
            type="date"
            class="input"
            name="birthday"
            [(ngModel)]="user.birthdate"
            placeholder="Birthday"
            required
          />
        </div>

        <div class="form-field">
          <input
            type="text"
            class="input"
            name="username"
            [(ngModel)]="user.username"
            placeholder="Username"
            required
          />
        </div>

        <div class="form-field">
          <input
            type="email"
            class="input"
            name="email"
            [(ngModel)]="user.email"
            placeholder="Email"
            required
          />
        </div>

        <div class="form-field">
          <input
            type="password"
            class="input"
            name="password"
            [(ngModel)]="user.password"
            placeholder="Password"
            required
          />
        </div>

        <div class="sign-up-link">
          <a id="sign-up" href="#" (click)="$event.preventDefault(); openLogin()">Back to Login</a>
        </div>

        <div class="action-field">
          <button class="login-btn">Sign Up</button>
        </div>
      </form>

      <div *ngIf="isVerification" class="verification-container">
        <h2 class="heading">Verification</h2>
        <div class="form-field">
          <input type="text" class="input" placeholder="Verification Code" id="verifyCode" [(ngModel)]="verificationCode">
        </div>
        <div class="action-field">
          <button class="login-btn" type="button" (click)="confirmSignUp()">Verify</button>
        </div>
      </div>
    </div>
  </div>
</div>

