<div class="h-screen backgroundImage">
  <app-header></app-header>
  <div class="login-container">
    <div class="login-card">
      <h2 class="heading">Sign In</h2>

      <form (ngSubmit)="onSubmit()">
        <div class="form-field">
          <input
            type="text"
            class="input"
            name="email"
            [(ngModel)]="user.email"
            placeholder="Email or Username"
          />
        </div>

        <div class="form-field">
          <input
              [type]="passwordVisible ? 'text' : 'password'"
              class="input"
              name="Password"
              [(ngModel)]="user.password"
              placeholder="Password"
              />
          <span (click)="togglePasswordVisibility()" class="eye-icon">
            <i [ngClass]="passwordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
          </span>
        </div>

        <div class="sign-up-link">
          <p>New to Tinyflix? <a id="sign-up" href="#" (click)="$event.preventDefault(); openSignUp()"> Sign up now</a>.</p>
        </div>

        <div class="action-field">
          <button class="login-btn">Sign In</button>
        </div>
      </form>
    </div>
  </div>
</div>
