<div class="flex container">
  <h1 class="header text-red-600">tinyflix</h1>
  <nav class="icon-bar-horizontal">
    <a routerLink="home" href="home" ><i class="cil-home"></i ></a>
    <a routerLink="search" href="search"><i class="cil-search"></i></a>
    <a routerLink="notifications" href="#"><i class="cil-bookmark"></i></a>
    <a routerLink="movie-upload" href="movie-upload"
      ><i class="cil-plus"></i
    ></a>
    <button class="logout-button" (click)="onLogoutClick()">Logout</button>
  </nav>
</div>
