.icon-bar-horizontal {
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  font-size: 1.5em;
  top: 0;
  right: 0;
  padding: 2em 3em;
  gap: 0.6em;
  z-index: 9999;
}

.icon-bar-horizontal a {
  text-align: center;
  margin: 0 auto;
  transition: all 0.3s ease;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 0.1em;
  color: #fff;
  border-radius: 4px;
  width: 1.5em;
  height: 1.5em;
}

.icon-bar-horizontal a:hover {
  color: #006d77;
}

.icon-bar-horizontal a.active {
  color: #006d77;
  background-color: #1e1e1e;
}

.logout-link {
  color: white;
  text-decoration: none;
}

.header {
  font-family: bayon;
  letter-spacing: 1px;
  font-weight: regular;
  margin: 0;
  font-size: 3.5em;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: inline-block;
  margin-left: 2em;
  margin-top: 0.5em;
  text-shadow:
    0 0 10px #83c5be,
    0 0 20px #006d77;
  z-index: 9999;
}

.logout-button {
  display: flex;
  border-radius: 4px;
  font-family: rubik-regular;
    border: 2px solid rgba(255,255,255,.0);
  color: white;
  border-radius: 4px;
  width: 5em;
  padding: 0.25em 0.5em;

  &:hover {
    background-color: #003d71;
    border: 2px solid #1e1e1e;
  }
}
