.container {
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2em;
  margin-left: 5rem;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 20px;
  font-size: 3em;
  position: relative;
  font-family: 'Bayon', sans-serif;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
  max-width: 30em;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.form-control:focus {
  outline: none;
  box-shadow: 0 0 5px #006d77;
}

textarea.form-control {
  resize: none;
}

.btn-primary {
  background-color: #006d77;
  border-color: #006d77;
  color: white;
  padding: 0.8em;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  max-width: 30em;
  text-align: center;
  height: 3em;
}

.btn-primary[disabled] {
  background-color: #6c757d;
  border-color: #6c757d;
  cursor: not-allowed;
}

h3 {
  margin-top: 30px;
  font-size: 1.5em;
}

p {
  margin: 5px 0;
  font-size: 1em;
}

.file-input {
  display: none;
}

.file-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  background-color: #006d77;
  color: white;
  padding: 0.8em;
  width: 100%;
  max-width: 30em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 3em;
  text-align: center;
}

.file-label:hover {
  background-color: #005f68;
}

label {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  max-width: 30em;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  font-size: 1em;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  cursor: pointer;
  position: relative;
  padding-left: 2em;
}

.checkbox-group input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
}

.checkbox-group .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  border-radius: 4px;
}

.checkbox-group input[type="checkbox"]:checked ~ .checkmark {
  background-color: #006d77;
  box-shadow: 0 0 5px #006d77;
}

.checkbox-group .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 0.5em;
  top: 0.2em;
  width: 0.3em;
  height: 0.6em;
  border: solid white;
  border-width: 0 0.2em 0.2em 0;
  transform: rotate(45deg);
}

.checkbox-group input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}
