<app-nav-bar></app-nav-bar>
<div class="search-bar-container">
  <div class="logo header">
    <h1 class="header">tinyflix</h1>
    <p> Search for your favorite movies </p>
  </div>
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Search movies..." />
    <button class="search-button" (click)="searchMovies()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>
<div class="movie-categories" [ngClass]="{'single-result': movies.length === 1}">
  <div class="container">
    <div class="container-inner">
      <app-movie-card *ngFor="let movie of movies" [movie]="movie"></app-movie-card>
    </div>
  </div>
</div>

